<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Text CSS -->
    <link rel="stylesheet" type="text/css" href="static/css/general.css">
	
    <title>Unicorn Jerky Enthusiast</title>
	
  </head>


<body>
<div class="container">
    <form class="form-signin" action="" method="POST">
        <h2 class="form-signin-heading">Please Sign In</h2>
        {{ signinform.email(placeholder="Email",id="inputEmail", class="form-control", autofocus="") }}
        {{ signinform.password(placeholder="Password",id="inputPassword", class="form-control", required="") }}
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        {{ signinform.submit(class="btn btn-lg btn-primary btn-block")}}
              <div class="noacc">
        Don't have an account! <a href="{{ url_for('signup') }}">Sign Up Here</a>
      </div>
      </form>

</div>

    <script src="./Signin Template for Bootstrap_files/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
